
.header{
    background-color: white;
    border-bottom:2px solid #04afff;
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
  }
  
  .header__logo{
    height: 60px;
    width: 60px;
    margin-left: 48vw;
  }